.tamano{
    font-size: 1.40rem;
    
}
.FUB{
    border-style: solid;
    border-color: black;
    border-radius:2px;
    height: 220px;
    width: 300px;
    text-align: left;
    padding: 20px 20px;
    position: relative;
    top: 150px;
    background-color:rgb(0, 148, 253);
}
.FUB2{
    border-style: solid;
    border-color: black;
    border-radius:2px;
    height: 30%;
    width: 20%;
    padding: 20px 20px;
    position: relative;
    margin: 12% 36%;
    background-color:aquamarine;
    text-align: left;
}
.Fondo{
    background-image: url("https://static.abc.es/media/ciencia/2019/12/13/polvo-estrellas-kLOH--1248x698@abc.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header{
    background-color: rgb(0, 148, 253);
    padding: 2rem 1rem;
}
header h1{
    font-size: 3rem;
    text-align: center;
}
.TDB{
    font-size: 1.5rem;
    border-style: solid;
    border-color: black;
    border-radius:2px;
    height: 220px;
    width: 600px;
    text-align: justify;
    position: relative;
    top: -115px;
    left: 400px;
    padding: 20px 20px;
    background-color:rgb(0, 148, 253);
}
.segundo{
    background-color:aquamarine;
    padding: 0.1px 0.1px;
}
.tituloseg{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2 , 1fr);
    justify-items: end;
    align-items: flex-start;
}

.imagen{
    display: inline-block;
    margin-left: 96%;
}
.tb2{
    position:relative;
}
.borde{
    border-style: solid;
    border-color: black;
    border-radius: 0.1%;
    height:600px;
    width: 1000px;
}
.cuadro{
    border-style:solid;
    border-color: aqua;
    padding: 8%;
    margin: 3px 3px;
}
.tabla{
    background-color:gold;
}
.link{
    color:black;
    text-decoration: none;
}