*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.link{
    color:black;
    text-decoration: none;
}

.nav{
    width: 100%;
    padding-left:40%;
}
.nav__link{
    color: #303440;
    background-color: aqua;
    display:block;
    padding: 15px 15px;
    text-decoration: none;
}
.titulos_scroll{
    color: #000000;
    display:block;
    text-decoration: none;
    padding: 15px 15px;
}
.nav__link--inside:hover{
    background-color:aqua;

}
.nav__link--inside{
    border-radius: 6px;
    padding-left: 20px;
}
.list{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: left;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background-color:inherit ;
}

.list__item{
    list-style-type: none;
    width: 70%;
    text-align: left; 
    overflow: hidden;
}
.list__item--click{
    cursor:pointer;
}
.list__button{
    display:flex;
    align-items: center;
    gap: 1rem;
    width: 50%;
    padding: 5px 5px;
}

.arrow .list__arrow{
    transform: 90deg;
}
.list__arrow{
    transition: transform .3s;

}

.list__show{
    width: 40%;
    margin-left: 20%;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height 0.4s;
    height: 0;
}
.lista{
    display:table;
    padding-left: 20%;
    text-align: left;
}
.subtitulo{
    text-decoration-color: #303440;

}
.list_archivos{
    display: flex;
    padding-left: 20%;
    text-align: left;
}

#global {
    border-radius: 2px;
    border-style:double;
    height: 90px;
    width: 200px;
    background: rgb(4, 255, 155);
    overflow-y: scroll;
}