<!DOCTYPE html>
<php include "registro.html";></php>
<php include "quizzes.html";></php>
<php include "archivos.html"></php>
<php include "Bienvenida.html"></php>
<php include "tablas.html"></php>
<html>
    <head>
        <title>Ranking</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body class="Fondo">
        <header class="segundo">
            <div class="tituloseg">
                <div><a class="link" href="{% url 'index'%}"><h2>Inicio</h2></a></div>
                <div class="imagen"><img src="/static/usuario.svg" width="50px"/></div>
            </div>
        </header>
        <br>
        <table class= "tabla" border ="1px" width="1520px" height="50px">
            <tr>
                <th><a class="link" href="{% url 'archivos' %}">Archivos</a></th>
                <th><a class="link" href="{% url 'quizzes' %}">Quizzes</a></th>
                <th>Ranking Global</th>
            </tr>
        </table>
        <br>
        <table class="rank">
            <colgroup>
                <col span="1" class="top10">
                <col span="1" class="top20">
                <col span="1" class="top30">
            </colgroup>
            <tr>
                <th scope="col">Top 10</th>
                <th scope="col">Top 20</th>
                <th scope="col">Top 30</th>
            </tr>
            <tr>
                <td>
                <table class="tablas_ranking">
                    <tbody>
                        <tr>
                            <th>Puesto</th>
                            <th>Usuario</th>
                            <th>Puntaje</th>
                        </tr>
                        <!--Recorrer la lista de datos de los puntajes-->
                        {% for c in mymembers %}
                        <tr>
                            <td>{{c.id}}</td>
                            <td>{{c.firstname}}</td>
                            <td>{{c.puntaje}}</td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
                </td>
                <td>
                <table class="tablas_ranking">
                    <tbody>
                        <tr>
                            <th>Puesto</th>
                            <th>Usuario</th>
                            <th>Puntaje</th>
                        </tr>
                        <!--Recorrer la lista de datos de los puntajes-->
                        {% for c in mymembers%} 
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
                </td>
                <td>
                <table class="tablas_ranking">
                    <colgroup>
                        <col>
                        <col span="3" class="Top 10">
                        <col span="3" class="Top 20">
                        <col span="3" class="Top 30">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>Puesto</th>
                            <th>Usuario</th>
                            <th>Puntaje</th>
                        </tr>
                        <!--Recorrer la lista de datos de los puntajes-->
                        {%for c in mymembers%}
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
                </td>
            </tr>
        </table>
    </body>
</html>